flask
flask-cors
werkzeug<3.0.0
flasgger
google-generativeai
python-dotenv
opencv-python
requests
torch
torchvision
torchaudio
ultralytics
deepface
deep-sort-realtime
captum
tf-keras-vis
supabase
yt-dlp
numpy<2
scipy
matplotlib
pillow
